<div class="wrapper">
  <div class="about">
    <figure class="profile">
      <img
        class="profile__img"
        src="../../assets/images/img-perfil.jpg"
        alt="Perfil"
      />
      <h3 data-cy="title" class="profile__name">Samyr Oliveira Ribeiro</h3>
      <p class="profile__desc">Front-end developer</p>
    </figure>
    <div class="about__info">
      <p>
        Olá! Seja bem-vindo(a) a minha página pessoal, aqui você poderá
        encontrar um pouco sobre mim, carreira, portfólio e objetivos.
      </p>
      <p>
        Meu nome é Samyr, tenho 25 anos, residente de São Bernardo do Campo -
        SP, atualmente trabalhando no setor de qualidade, estudo programação a
        pouco mais de um ano, mas acredito que encontrei a minha área, sempre
        com muita afinidade com a área de TI, utilizo computadores desde a minha
        infância, e sempre muito curioso em tudo, procurando entender, e
        aprender o máximo possível.
      </p>
      <p>
        Venho me dedicando especificamente a programação web na parte do
        front-end, com muito entusiasmo e paixão, sempre empolgado a cada novo
        aprendizado, me dedicando a estudar ao máximo, adquiri conhecimentos em
        HTML, CSS e Javascript, e diversas outras tecnologias através de
        plataformas gratuitas, alguns e-books e muita vontade de aprender e
        ingressar na área.
      </p>
    </div>
    <div class="career">
      <hr class="about__break" />
      <h3 class="career__title">Carreira</h3>
      <section class="career__section">
        <h4 class="career__subtitle">Objetivo</h4>
        <ul>
          <li>Desenvolvedor Angular Júnior</li>
        </ul>
      </section>
      <section class="career__section">
        <h4 class="career__subtitle">Formação acadêmica</h4>
        <ul>
          <li>
            <span>
              <strong>Tecnologia em Gestão da Qualidade</strong>, Faculdade
              Anhanguera de São Bernardo do Campo
              <p>Ago/2015 - Jun/2017</p>
            </span>
          </li>
        </ul>
      </section>
      <section class="career__section">
        <h4 class="career__subtitle">Experiências profissionais</h4>
        <div class="career__text">
          <strong>Atento Brasil S/A</strong>
          <p>
            Uma das maiores empresas no segmento de contact center do mundo. Com
            cerca de 20 anos no mercado, atendendo às maiores empresas em seus
            setores, como: telecomunicações, finanças, saúde, varejo e governo,
            assim como born-digital, entre outras.
          </p>
          <p class="career__date">agosto/2017 a atual - Monitor de Qualidade</p>
          <ul>
            <li>
              Realização de monitoria nas gravações de diversas setores no
              segmento financeiro.
            </li>
            <li>Apoio a área de operações.</li>
            <li>
              Apresentações e reuniões com clientes, e times de outras áreas.
            </li>
          </ul>
          <p>
            Auto na melhoria contínua dos KPI's de qualidade, com evolução
            constante dos resutados da equipe de operações, e melhoria dos
            processos.
          </p>
        </div>
      </section>
      <section class="career__section">
        <h4 class="career__subtitle">Habilidades e competências</h4>
        <div class="career__text">
          <p>
            Me considero uma pessoa com facilidade de trabalho em equipes,
            organizado e determinado.
          </p>
          <p>
            Com grande vontade de descobrir e solucionar problemas, estou sempre
            em constante evolução.
          </p>
          <p>Através dos estudos em front end adquiri conhecimentos em:</p>
          <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>SCSS</li>
            <li>Bootstrap</li>
            <li>Tailwind</li>
            <li>JS (ECMAScript 6)</li>
            <li>TypeScript</li>
            <li>Angular</li>
          </ul>
        </div>
      </section>
      <section class="career__section">
        <h4 class="career__subtitle">Idiomas</h4>
        <p class="career__text">
          <strong> Ingles técnico:</strong> Capacidade de ler documentações, ver
          vídeos e realizar pesquisas em inglês com compreensão e sem grandes
          dificuldades.
        </p>
      </section>
    </div>
  </div>
</div>
