@use "../abstracts/" as *;

//Components wrapper
.wrapper {
  margin: 0 auto;
  padding: rem(24);
  max-width: rem(1177);
}

//Mobile menu no-scroll
.no-scroll {
  overflow: hidden;
}

//Change svg colors
.themed-svg {
  @include theme() {
    fill: theme-get("color-neutral");
  }
}

.logo {
  @include lg {
    cursor: pointer;
  }
}

//Components container
.container {
  min-height: calc(100vh - 416px);
  @include lg {
    min-height: calc(100vh - 267px);
  }
}

//Loading
.loading {
  display: grid;
  place-items: center;
  width: 100%;
  height: rem(400);
}
