<div class="wrapper">
  <div class="projects">
    <h3 class="projects__title">Projetos</h3>
    <p class="projects__text">
      Aqui estão alguns dos projetos que desenvolvi, tanto funcionais quanto
      para aprendizagem no conhecimento de tecnologias.
    </p>
    <div class="cards" #cards>
      <div
        class="card"
        *ngFor="let project of projectsList | async"
        (click)="onClick($event)"
      >
        <div class="card__image-holder">
          <img class="card__image" [src]="project.img" alt="wave" />
        </div>
        <div class="card-title">
          <a href="#" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>
            {{ project.title }}
            <small>{{ project.caption }}</small>
          </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            {{ project.description }}
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a class="btn">Saiba mais</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
