<div class="wrapper">
  <div class="contact">
    <header class="contact__header">
      <h3 data-cy="title">{{ "getInTouch" | translate }}</h3>
      <p>
        {{ "contactInvitation" | translate }}
      </p>
    </header>
    <form class="form" [formGroup]="form" (ngSubmit)="sendMail()">
      <div>
        <div class="form__group">
          <label class="form__label" for="subject">{{
            "subject" | translate
          }}</label>
          <input
            class="form__input"
            type="text"
            name="subject"
            placeholder="Ex: {{ 'projects' | translate }}"
            formControlName="subject"
          />
          <div
            class="form__error"
            *ngIf="
              (formControls.subject.touched || submitted) &&
              formControls.subject.errors?.required
            "
          >
            {{ "pleaseEnterSubject" | translate }}
          </div>
        </div>
        <div class="form__group">
          <label class="form__label" for="message">{{
            "message" | translate
          }}</label>
          <textarea
            class="form__textarea"
            name="message"
            cols="40"
            rows="8"
            placeholder="{{ 'putMessage' | translate }}"
            formControlName="message"
          ></textarea>
          <div
            class="form__error"
            *ngIf="
              (formControls.message.touched || submitted) &&
              formControls.message.errors?.required
            "
          >
            {{"pleaseEnterMessage" | translate} }
          </div>
        </div>
      </div>
      <button class="btn" [disabled]="form.invalid">
        {{ "send" | translate }}
      </button>
    </form>
  </div>
</div>
