@use "../abstracts/" as *;

.certificates {
  @extend %mt-mb-50;
  p {
    margin-top: rem(10);
  }
  &__organization {
    margin-top: rem(80);
    text-align: center;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @include lg {
      justify-content: space-between;
    }
  }
}

.certificate {
  text-align: center;
  margin-top: rem(40);
  @include sm {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: rem(480);
  }

  &__title {
    @include theme() {
      color: theme-get("color-title");
    }
  }
  &__img {
    margin-top: rem(20);
    @include sm {
      max-width: rem(480);
    }
  }
}
