<div class="wrapper">
  <div class="certificates">
    <h3 data-cy="title">
      Diversos certificados em instituições nacionais e internacionais
    </h3>
    <p>
      Aqui você encontrará alguns dos certificados de diversas plataformas,
      adquiridos com horas de esforço e dedicação.
    </p>
    <div class="loading" *ngIf="loading">
      <h3>Carregando...</h3>
    </div>

    <div
      *ngIf="!loading"
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
    >
      <div
        class="certificates__organization"
        *ngFor="let organization of initialData"
      >
        <h3>{{ organization.name }}</h3>
        <div class="certificates__wrapper">
          <div
            class="certificate"
            *ngFor="let certificate of organization.certificates"
          >
            <h4 class="certificate__title">{{ certificate.name }}</h4>
            <a [href]="certificate.link" target="_blank" rel="noopener">
              <img class="certificate__img" [src]="certificate.img" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
