<div class="wrapper">
  <div class="certificates">
    <h3>Diversos certificados em instituições nacionais e internacionais</h3>
    <p>
      Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros
      commodo tempor.
    </p>
    <div class="certificates__organization">
      <h3>Loiane traingin</h3>
      <div class="certificates__wrapper">
        <div class="certificate">
          <h4 class="certificate__title">Loiane training - Angular</h4>
          <a
            href="https://loiane.training/certificado/kDP5voLskyXkYfZOFCiJ"
            target="_blank"
          >
            <img
              class="certificate__img"
              src="../../assets/images/angular-loiane.JPG"
              alt=""
            />
          </a>
        </div>
        <div class="certificate">
          <h4 class="certificate__title">Loiane training - Angular</h4>
          <a
            href="https://loiane.training/certificado/kDP5voLskyXkYfZOFCiJ"
            target="_blank"
          >
            <img
              class="certificate__img"
              src="../../assets/images/angular-loiane.JPG"
              alt=""
            />
          </a>
        </div>
        <div class="certificate">
          <h4 class="certificate__title">Loiane training - Angular</h4>
          <a
            href="https://loiane.training/certificado/kDP5voLskyXkYfZOFCiJ"
            target="_blank"
          >
            <img
              class="certificate__img"
              src="../../assets/images/angular-loiane.JPG"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
    <div class="certificates__organization">
      <h3>Loiane traingin</h3>
      <div class="certificates__wrapper">
        <div class="certificate">
          <h4 class="certificate__title">Loiane training - Angular</h4>
          <a
            href="https://loiane.training/certificado/kDP5voLskyXkYfZOFCiJ"
            target="_blank"
          >
            <img
              class="certificate__img"
              src="../../assets/images/angular-loiane.JPG"
              alt=""
            />
          </a>
        </div>
        <div class="certificate">
          <h4 class="certificate__title">Loiane training - Angular</h4>
          <a
            href="https://loiane.training/certificado/kDP5voLskyXkYfZOFCiJ"
            target="_blank"
          >
            <img
              class="certificate__img"
              src="../../assets/images/angular-loiane.JPG"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
