<header class="header wrapper" [ngClass]="{ 'menu-opened': isMenuOpen }">
  <nav class="menu">
    <a [routerLink]="['/home']" routerLinkActive="active">
      <img class="logo" width="137px" src="./assets/images/logos/samyrdev.png" alt="Samyr dev logo" />
    </a>
    <!-- Mobile Button -->
    <button class="menu__button" #menuLink>
      Menu
      <span></span><span></span><span></span>
    </button>
    <ul class="menu__links">
      <li class="menu__link">
        <a #menuLink data-cy="header-home" [routerLink]="['/home']" routerLinkActive="active">{{ "home" | translate
          }}</a>
      </li>
      <li class="menu__link">
        <a #menuLink data-cy="header-certificates" [routerLink]="['/certificates']" routerLinkActive="active">{{
          "certificates" | translate }}</a>
      </li>
      <li class="menu__link">
        <a #menuLink data-cy="header-projects" [routerLink]="['/projects']" routerLinkActive="active">{{ "projects" |
          translate }}</a>
      </li>
      <li class="menu__link">
        <a #menuLink data-cy="header-about-me" [routerLink]="['/about-me']" routerLinkActive="active">{{ "about-me" |
          translate }}</a>
      </li>
      <li class="menu__link">
        <a #menuLink data-cy="header-contact" [routerLink]="['/contact']" routerLinkActive="active">{{ "contact" |
          translate }}</a>
      </li>
      <li class="menu__link">
        <select (change)="changeLanguage($event)" title="language selector">
          <option [selected]="lang === 'pt_BR'" value="pt_BR">pt_BR</option>
          <option [selected]="lang === 'en_US'" value="en_US">en_US</option>
        </select>
      </li>
      <!-- Theme toggle -->
      <li class="menu__theme menu__link toggle">
        <input class="toggle__checkbox" type="checkbox" id="switch" name="toggle" [(ngModel)]="isDarkTheme"
          (change)="switchTheme()" />
        <label class="toggle__label" for="switch">Toggle</label>
      </li>
    </ul>
  </nav>
</header>
