<header class="header wrapper">
  <nav class="menu">
    <img class="logo" src="./assets/images/logo.png" alt="Samyr dev logo" />
    <!-- Mobile Button -->
    <button class="menu__button">
      Menu
      <span></span><span></span><span></span>
    </button>
    <ul class="menu__links">
      <li class="menu__link"><a href="">Home</a></li>
      <li class="menu__link"><a href="">Certificados</a></li>
      <li class="menu__link"><a href="">Projetos</a></li>
      <li class="menu__link"><a href="">Sobre mim</a></li>
      <li class="menu__link"><a href="">Contato</a></li>
      <!-- Theme toggle -->
      <li class="menu__theme menu__link toggle">
        <input
          class="toggle__checkbox"
          type="checkbox"
          id="switch"
          name="mode"
        />
        <label class="toggle__label" for="switch">Toggle</label>
      </li>
    </ul>
  </nav>
</header>
