//Colors Light
$c-mobile-menu: #6c63ff;
$c-text: #546079;
$c-bg: #f8fafd;
$c-title: #5b6a85;
$c-primary: #04d8f4;
$c-neutral: #1672ce;
$c-secondary: #102397;
$c-footer: #e6effa;
$c-social: #677897;
$c-card-bg: #91b7dc;
$bg-header-first: url(../../images/backgrounds/bg-header-first.png);
$bg-header-second: url(../../images/backgrounds/bg-header-second.png);
$bg-main-left: url(../../images/backgrounds/bg-main-left.png);
$bg-main-right: url(../../images/backgrounds/bg-main-right.png);

//Colors Dark
$c-text-dark: #8295b9;
$c-bg-dark: #102131;
$c-title-dark: #ffffff;
$c-primary-dark: #f7618b;
$c-neutral-dark: #6c63ff;
$c-secondary-dark: #2a7aff;
$c-footer-dark: #101f2d;
$c-card-bg-dark: #1f2b44;
$bg-header-first-dark: url(../../images/backgrounds/bg-header-first-dark.png);
$bg-header-second-dark: url(../../images/backgrounds/bg-header-second-dark.png);
$bg-main-left-dark: url(../../images/backgrounds/bg-main-left-dark.png);
$bg-main-right-dark: url(../../images/backgrounds/bg-main-right-dark.png);

//Neutral colors
$white: #ffffff;
$salmon: #ff6666;
$error: #dc3545;

//Font
$default-font-size: 100%;
$main-font: "Montserrat";

//BreakPoints
$screen-sm-min: 440px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

//Others
$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
$menuItems: 6;

//Utils pseudo class
%mt-20 {
  margin-top: 20px;
}

%mt-80 {
  margin-top: 80px;
}

%mt-mb-50 {
  margin: 50px 0;
}
