@use "./variables" as *;
@use "./functions" as *;
@use "./mixins" as *;
@use "./themes" as *;

.hero {
  display: flex;
  flex-direction: column;
  @include lg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  &__details {
    text-align: center;
  }
  &__title {
    align-self: center;
  }
  &__img {
    display: none;
    @include lg {
      display: block;
      svg {
        width: rem(480);
      }
    }
  }
}
