@use "./variables" as *;
@use "./functions" as *;
@use "./mixins" as *;

//Projects page css
.projects {
  @extend %mt-mb-50;
  display: flex;
  flex-wrap: wrap;
  &__text {
    margin-top: rem(15);
  }
}

a.btn {
  position: relative;
  padding: rem(6) rem(30) rem(8);
  text-decoration: none;
  box-shadow: 0 rem(2) 0 0 rgba(0, 0, 0, 0.25);
  transition: all 0.1s 0s ease-out;
}

.no-touch a.btn:hover {
  box-shadow: 0 rem(8) rem(2) 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}

.no-touch a.btn:active,
a.btn:active {
  box-shadow: 0 rem(1) 0 0 rgba(255, 255, 255, 0.25);
  transform: translate3d(0, 1px, 0);
  transition: all 0.025s 0s ease-out;
}

div.cards {
  margin: rem(80) 0;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @include lg {
    justify-content: start;
  }
}

div.card {
  position: relative;
  display: inline-block;
  margin: rem(14);
  max-width: rem(300);
  text-align: left;
  border-radius: rem(10);
  z-index: 1;
  perspective: 1000;
  transition: all 0.3s 0s ease-in;
  @include theme() {
    color: theme-get("color-title");
  }
  @include lg {
    margin: rem(30);
  }

  .card__image-holder {
    background: rgba(0, 0, 0, 0.1);
    height: 0;
    padding-bottom: 75%;
    img {
      object-fit: cover;
      border-top-left-radius: rem(10);
      border-top-right-radius: rem(10);
      height: rem(225);
    }
  }

  div.card-title {
    padding: rem(10) rem(15) 0;
    position: relative;
    min-height: rem(135);
    border-bottom-left-radius: rem(5);
    border-bottom-right-radius: rem(5);
    z-index: 0;
    @include theme() {
      background-color: theme-get("color-card-bg");
    }

    a.toggle-info {
      position: absolute;
      top: rem(10);
      right: rem(15);
      height: rem(32);
      width: rem(32);
      padding: 0;
      border-radius: rem(32);

      span {
        position: absolute;
        top: rem(16);
        display: block;
        height: rem(2);
        width: rem(12);
        transition: all 0.15s 0s ease-out;
        @include theme() {
          background-color: theme-get("color-card-bg");
        }
      }

      span.left {
        right: rem(14);
        transform: rotate(45deg);
      }
      span.right {
        left: rem(14);
        transform: rotate(-45deg);
      }
    }

    h2 {
      margin: 0;
      padding: 0;
      font-size: rem(24);
      font-weight: 700;
      letter-spacing: -0.05em;

      small {
        display: block;
        padding: rem(10) rem(30) rem(10) 0;
        font-size: rem(18);
        font-weight: 400;
        letter-spacing: -0.025em;
      }
    }
  }

  div.card-description {
    padding: 0 rem(15) rem(10);
    position: relative;
    font-size: rem(14);
  }

  div.card-actions {
    padding: rem(10) rem(15) rem(20);
    text-align: center;
  }

  div.card-flap {
    position: absolute;
    width: 100%;
    transform-origin: top;
    transform: rotateX(-90deg);
    @include theme() {
      background-color: darken(theme-get("color-card-bg"), 15);
    }
  }
  div.flap1 {
    transition: all 0.3s 0.3s ease-out;
    z-index: -1;
  }
  div.flap2 {
    transition: all 0.3s 0s ease-out;
    z-index: -2;
  }
}

div.cards.showing {
  div.card {
    cursor: pointer;
    opacity: 0.6;
    transform: scale(0.88);
  }
}

.no-touch div.cards.showing {
  div.card:hover {
    opacity: 0.94;
    transform: scale(0.92);
  }
}

div.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  div.card-title {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    a.toggle-info {
      background: $salmon;
      span {
        top: rem(15);
      }
      span.left {
        right: rem(10);
      }
      span.right {
        left: rem(10);
      }
    }
  }
  div.card-flap {
    transform: rotateX(0deg);
    @include theme() {
      background-color: theme-get("color-card-bg");
    }
  }
  div.flap1 {
    transition: all 0.3s 0s ease-out;
  }
  div.flap2 {
    transition: all 0.3s 0.2s ease-out;
    border-bottom-left-radius: rem(10);
    border-bottom-right-radius: rem(10);
  }
}
