@use "./variables" as *;

$themes: (
  light-theme: (
    "color-text": $c-text,
    "color-bg": $c-bg,
    "color-title": $c-title,
    "color-primary": $c-primary,
    "color-neutral": $c-neutral,
    "color-secondary": $c-secondary,
    "color-card-bg": $c-footer,
    "footer-bg": $c-footer,
    "bg-header-first": $bg-header-first,
    "bg-header-second": $bg-header-second-dark,
    "bg-main-left": $bg-main-left,
    "bg-main-right": $bg-main-right,
  ),
  dark-theme: (
    "color-text": $c-text-dark,
    "color-bg": $c-bg-dark,
    "color-title": $c-title-dark,
    "color-primary": $c-primary-dark,
    "color-neutral": $c-neutral-dark,
    "color-secondary": $c-secondary-dark,
    "color-card-bg": $c-card-bg-dark,
    "footer-bg": $c-footer-dark,
    "bg-header-first": $bg-header-first-dark,
    "bg-header-second": $bg-header-second-dark,
    "bg-main-left": $bg-main-left-dark,
    "bg-main-right": $bg-main-right-dark,
  ),
);
